[Unit]
Description=BEEP Cartographer occupancy grid publisher
After=beep-cartographer.service
Requires=beep-cartographer.service

[Service]
Type=simple
User=pi
Environment=ROS_DOMAIN_ID=16
Environment=ROS_LOCALHOST_ONLY=0
ExecStart=/bin/bash -lc 'source /opt/ros/foxy/setup.bash; source /home/pi/cartographer_ws2/install/setup.bash; exec ros2 run cartographer_ros occupancy_grid_node -resolution 0.05 -publish_period_sec 1.0'
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
